body {
  font-family: Arial, sans-serif;
  background: #1c1c1c;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  background: #292929;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
}

input, label, button {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}

button {
  margin-top: 1.5rem;
  background-color: #00adb5;
  color: white;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 8px;
}

#feedback-output {
  margin-top: 2rem;
  background: #333;
  padding: 1rem;
  border-radius: 8px;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 3rem;
}

#toggle-password {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
}

.options {
  text-align: right;
  margin-top: 0.5rem;
}

.options a {
  color: #00adb5;
  text-decoration: none;
  font-size: 0.9rem;
}
